@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* Add your CSS styles for the converter here */
body {
  width: 100%;
  height: 100vh;
  background: #b9f2f3 ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #7a7af2 ;
}
.converter {
  width: 520px;
  margin: 0 auto;
  border: 1px solid #ebe5e5;
  padding: 10px;
  border-radius: 20px;
  background: #90dcf5;
  display: flex;
  justify-content: space-between;
  color: #ffffffdc;
  font-size: 22px;
  flex-wrap: wrap;
  color: #000080 ;

}

label {
  margin-left: 20px;
  margin-bottom: 0;
}
.container {
  margin: 4px;
  display: flex;
  flex-direction: column;
}
input {
  width: 180px;
  border: 1px solid #717377;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
  border-radius: 10px;
  padding: 0;
  margin: 10px 10px;
  background: transparent;
  font-size: 50px;
  text-align: left;
  cursor: pointer;
  /* color: #ffffff; */
  color: #0505476b;
}